<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tag() %>

    <title>Hello Docdog!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
            <h3 class="masthead-brand">Docdog App</h3>
          </div>
        </div>

        <%= render @view_module, @view_template, assigns %>

      </div>
    </div>

                                                            </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
